# Node modules
/node_modules/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output
/dist
/build
/coverage

# Dependency directories
/pnpm-lock.yaml
/yarn.lock

# IDE and Editor directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# MacOS Finder files
.DS_Store

# Linux trash folder
.Trash-*

# Windows filesystem files
Thumbs.db
ehthumbs.db

# Docker
docker-compose.override.yml

# Production
*.pem
*.key

# Miscellaneous
*.tgz
*.zip

# Local environment config
.local/

# TernJS
.tern-port

# IDEs
*.sublime-project
*.sublime-workspace

# Log files
*.log
*.out
*.err
